# check out duplicate affiliation

In [2]:
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import fuzzywuzzy
from fuzzywuzzy import fuzz
import itertools
from itertools import combinations
from joblib import Parallel, delayed

/Users/yihuiwang/Envs/ivy/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
#count cpu
import psutil
print(psutil.cpu_count())

4

In [4]:
engine = create_engine('postgresql://yihuiwang:@localhost:5432/ais')

In [5]:
sql_cmd = "select * from aff_info"
df = pd.read_sql(sql = sql_cmd, con = engine)

In [6]:
df_aff = df['affiliation-name']

#### generating conbinations

In [8]:
list0 = df_aff.tolist()

In [9]:
list_aff_pair = list(combinations(list0,2))

In [10]:
len(list_aff_pair)

41391351

#### split into multiple sub-arrays (e.g. 2100)

In [10]:
list_split = np.array_split(list_aff_pair, 2100)

In [11]:
def fun(x):
    aff_pair_score = pd.DataFrame(columns=('Affiliation1','Affiliation2','Ratio','Token_Sort_Ratio'))
    for entry in x:
        str1 = entry[0]
        str2 = entry[1]
        Ratio = fuzz.ratio(str1.lower(),str2.lower())
        Token_Sort_Ratio = fuzz.token_sort_ratio(str1, str2)
        aff_pair_score = aff_pair_score.append(pd.DataFrame({'Affiliation1':[str1],'Affiliation2':[str2],'Ratio':[Ratio],'Token_Sort_Ratio':[Token_Sort_Ratio]}),ignore_index=True)
    return aff_pair_score

In [ ]:
y = Parallel(n_jobs= 3)(delayed(fun)(list_split[i])for i in range(2100))

#### select score above 85

In [ ]:
aff_select_score = pd.DataFrame(columns=('Affiliation1','Affiliation2','Ratio','Token_Sort_Ratio'))
for index in range(300):
    df_in = y[index]
    aff_85 = df_in.loc[(df_in['Ratio']> 85) | (df_in['Token_Sort_Ratio']>85)]
    aff_select_score = aff_select.append(aff_85)

In [ ]:
aff_select_score

# 300000个尝试

In [33]:
test_aff_pair = list_aff_pair[0:300000]

In [34]:
list2 = np.array_split(test_aff_pair, 300)

In [13]:
list2

[array([['McGill University', 'Xidian University'],
        ['McGill University', 'Brunel University London'],
        ['McGill University', 'University of Massachusetts Dartmouth'],
        ...,
        ['Xidian University', 'Nove de Julho University'],
        ['Xidian University',
         'The Office of The Deputy Prime Minister (Directgov Home and Community Franchise Team'],
        ['Xidian University', 'Sahlgrenska Universitetssjukhuset']],
       dtype='<U118'), array([['Xidian University', 'Inotera Memories'],
        ['Xidian University', "Kenny's Bookshop and Art Galleries Ltd."],
        ['Xidian University', 'Bayer Corporation, USA'],
        ...,
        ['University of Massachusetts Dartmouth', 'SKIM Group'],
        ['University of Massachusetts Dartmouth',
         'King Abdullah Petroleum Studies and Research Center'],
        ['University of Massachusetts Dartmouth',
         'Daishowa-Marubeni International']], dtype='<U118'), array([['University of Massachusetts Dartmouth', 'North-West University'],
        ['University of Massachusetts Dartmouth',
         'Nottingham Business School'],
        ['University of Massachusetts Dartmouth',
         'Idaho National Laboratory'],
        ...,
        ['University of Florida', 'National Academies'],
        ['University of Florida',
         'Erasmus University Research Institute for Decision and Information Systems (EURIDIS'],
        ['University of Florida', 'Asia University Taiwan']], dtype='<U118'), array([['University of Florida', 'Center for Change'],
        ['University of Florida', 'Crystal Decision Systems, Inc.'],
        ['University of Florida', 'Alibaba Group'],
        ...,
        ['University of Agder', 'American Airlines'],
        ['University of Agder', 'City College'],
        ['University of Agder', 'Suncorp Australia']], dtype='<U118'), array([['University of Agder', 'M6D Research'],
        ['University of Agder', 'USC/ISI'],
        ['University of Agder', 'Montpellier Business School'],
        ...,
        ['University of Massachusetts Boston', 'Wilkes University'],
        ['University of Massachusetts Boston',
         'International Computer Science Institute'],
        ['University of Massachusetts Boston',
         'National Chung Cheng University']], dtype='<U118'), array([['University of Massachusetts Boston',
         'Chihlee University of Technology'],
        ['University of Massachusetts Boston', 'Chang Gung University'],
        ['University of Massachusetts Boston',
         'California State University Northridge'],
        ...,
        ['University of Liechtenstein', 'Management Information Systems'],
        ['University of Liechtenstein', 'Japanese financial institution'],
        ['University of Liechtenstein', 'Bertelsmann']], dtype='<U118')]

In [14]:
def fun(x):
    aff_pair_score = pd.DataFrame(columns=('Affiliation1','Affiliation2','Ratio','Token_Sort_Ratio'))
    for entry in x:
        str1 = entry[0]
        str2 = entry[1]
        Ratio = fuzz.ratio(str1.lower(),str2.lower())
        Token_Sort_Ratio = fuzz.token_sort_ratio(str1, str2)
        aff_pair_score = aff_pair_score.append(pd.DataFrame({'Affiliation1':[str1],'Affiliation2':[str2],'Ratio':[Ratio],'Token_Sort_Ratio':[Token_Sort_Ratio]}),ignore_index=True)
    return aff_pair_score

In [35]:
%%time
y = Parallel(n_jobs= 3)(delayed(fun)(list2[i])for i in range(300))

CPU times: user 5.78 s, sys: 962 ms, total: 6.74 s
Wall time: 6min 22s

In [52]:
aff_select = pd.DataFrame(columns=('Affiliation1','Affiliation2','Ratio','Token_Sort_Ratio'))
for index in range(300):
    df_in = y[index]
    aff_a = df_in.loc[(df_in['Ratio']> 85) | (df_in['Token_Sort_Ratio']>85)]
    aff_select = aff_select.append(aff_a)

In [53]:
aff_select

,Affiliation1,Affiliation2,Ratio,Token_Sort_Ratio
88,McGill University,Magill University,94,94
331,McGill University,Comilla University,86,86
351,Xidian University,Indiana University,91,57
931,Xidian University,Xiamen University,88,88
814,Xidian University,Dalian University,88,59
286,Xidian University,Diwan University,91,61
634,Xidian University,Iman University,88,62
349,Brunel University London,University of Brunel,55,86
588,University of Massachusetts Dartmouth,University of Massachusetts and ITT,86,86
728,"University of Maryland, Baltimore County","University of Maryland, Baltimore",90,90
760,University of Florida,University of Salford,86,76
812,University of Florida,University of Oxford,88,73
976,University of Florida,University of North Florida,88,88
152,University of Florida,University of Georgia,86,86
701,University of Florida,University of Georgia,86,86
41,University of Florida,University of West Florida,89,89
332,University of Florida,University of Ceorgia,86,86
763,University of Florida,University of Ilorin,88,88
894,University of Notre Dame,University of Notre Dame,100,100
109,University of Agder,University of Bern,86,86
310,University of Agder,University of Adger,95,95
11,University of Agder,University of Agder,100,100
319,University of Agder,University of Denver,87,87
4,University of Agder,University of Zagreb,87,67
773,University of Agder,University Coll Agder,90,90
685,University of Agder,University of Art,89,89
462,University of Agder,University of Derby,89,89
489,University of Agder,University of Prague,87,72
784,Universität St. Gallen,University of St. Gallen,87,88
325,Universität St. Gallen,University of St. Gallen,87,88
...,...,...,...,...
769,University of Kansas,University of Kelaniya,86,86
15,University of Liechtenstein,University of Liechtenstein Hilti,90,90
194,University of Liechtenstein,University of Liechtenstein,100,100
487,University of Liechtenstein,Liechtenstein University,51,94
759,University of Liechtenstein,University of Liechtenstein Vaduz,90,90
907,University of Liechtenstein,University of Lichtenstein,98,98
685,University of Liechtenstein,Liechtenstein University,51,94
763,University of Liechtenstein,University of Liechtenstein - ERCIS,87,90
858,University of Liechtenstein,Universität Liechtenstein,88,90
570,University of Liechtenstein,UNIVERSITAT LIECHTENSTEIN,88,88
31,University of Liechtenstein,University of Liechtenstein,100,100
534,University of Liechtenstein,University of Liechtenstein,100,100
307,University of Liechtenstein,University of Liechtenstein,100,100
414,Technische Universitat Wien,Medizinische Universitat Wien,86,86
915,Mahidol University,Magill University,86,86
523,Southern Illinois University at Carbondale,Southern Illinois University at Edwardsville,86,86
393,University of Lincoln,University of Cologne,86,86
558,University of Lincoln,University of London,88,88
534,University of Lincoln,University of Incheon,90,90
108,University of Lincoln,Lincoln University,51,92
557,University of Lincoln,University of Incheon,90,90
436,University of Southampton,University of Roehampton,90,90
687,University of Southampton,Southampton Solent University,41,89
47,University of Southampton,University of Northampton,92,80
874,University of Dayton,University of Idaho,87,87
335,University of Dayton,University of Akron,87,87
576,University of Dayton,University of Luton,87,87
569,University of Dayton,University of Art,86,86
949,Northeastern University China,Northeastern University,88,88
922,Northeastern University China,Northwest University China,91,91