07-24-2019. remove duplicate affiliations based on fuzzy string

07-25-2019. load the calculated scores to find out those above a certain threhold)

---

## check out duplicate affiliation

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
import fuzzywuzzy
from fuzzywuzzy import fuzz

In [4]:
from itertools import combinations
from joblib import Parallel, delayed

In [5]:
#count cpu
#import psutil
#print(psutil.cpu_count())
import multiprocessing
print(multiprocessing.cpu_count())

8

In [6]:
#username = 'yihuiwang'
#username = 'zhiyzuo'
username = 'postgres'
pwd = 'tiger'
engine_str = 'postgresql://%s:%s@localhost:5432/ais'%(username,pwd)
engine_str

'postgresql://postgres:tiger@localhost:5432/ais'

In [7]:
engine = create_engine(engine_str)

In [8]:
sql_cmd = "select * from aff_info"
df = pd.read_sql(sql = sql_cmd, con = engine)

In [9]:
engine.dispose()

In [10]:
df.shape

(9099, 10)

In [11]:
df_aff = df['affiliation-name'].values.copy()

In [12]:
df_aff[:5]

array(['McGill University', 'Xidian University',
       'Brunel University London',
       'University of Massachusetts Dartmouth',
       'University of Maryland, Baltimore County'], dtype=object)

### generating conbinations

In [13]:
#list0 = df_aff.tolist()

In [14]:
list_aff_pair = list(combinations(df_aff, 2))

In [15]:
df.shape[0]*(df.shape[0]-1)/2

41391351.0

In [16]:
len(list_aff_pair)

41391351

### split into multiple sub-arrays (e.g. 2100)

In [17]:
num_splits = 10000
list_split = np.array_split(list_aff_pair, num_splits)

In [18]:
list_split[0].shape, len(list_split)

((4140, 2), 10000)

the following code does not work
```python
def fun(x):
    aff_pair_score = pd.DataFrame(columns=('Affiliation1', 'Affiliation2',
                                           'Ratio', 'Token_Sort_Ratio'))
    for entry in x:
        str1 = entry[0]
        str2 = entry[1]
        Ratio = fuzz.ratio(str1.lower(),str2.lower())
        Token_Sort_Ratio = fuzz.token_sort_ratio(str1, str2)
        aff_pair_score = aff_pair_score.append(pd.DataFrame({'Affiliation1':[str1],'Affiliation2':[str2],'Ratio':[Ratio],'Token_Sort_Ratio':[Token_Sort_Ratio]}),ignore_index=True)
    return aff_pair_score
```

In [19]:
def wrapper(str1, str2):
    Ratio = fuzz.ratio(str1.lower(),str2.lower())
    Token_Sort_Ratio = fuzz.token_sort_ratio(str1, str2)
    return {'Affiliation1': str1,
            'Affiliation2': str2,
            'Ratio': Ratio,
            'Token_Sort_Ratio': Token_Sort_Ratio}

In [20]:
list_split[0][0]

array(['McGill University', 'Xidian University'], dtype='<U118')

some random examples to verify the `fuzzywuzzy` method

In [22]:
wrapper(*['McGill University', 'Xidian University'])

{'Affiliation1': 'McGill University',
 'Affiliation2': 'Xidian University',
 'Ratio': 71,
 'Token_Sort_Ratio': 59}

In [23]:
wrapper(*['University of Maryland, Baltimore County', 'University of Maryland at Baltimore County'])

{'Affiliation1': 'University of Maryland, Baltimore County',
 'Affiliation2': 'University of Maryland at Baltimore County',
 'Ratio': 95,
 'Token_Sort_Ratio': 96}

---

## run

### test with a subset

In [30]:
len(list_split)

10000

In [32]:
num_test = 100
y = Parallel(n_jobs=3)(delayed(wrapper)(*item) for l_list in list_split[:num_test] for item in l_list)

In [29]:
pd.DataFrame(y).query('Ratio>80')

          Affiliation1     Affiliation2  Ratio  Token_Sort_Ratio
413  McGill University  RMIT University     81                81

### run for all

In [33]:
y = Parallel(n_jobs=6)(delayed(wrapper)(*item) for l_list in list_split for item in l_list)

To avoid memory error, i may need to split the data into chunks

In [38]:
len(y)

41391351

In [47]:
i = 0
num_steps = 10000
for start_i in np.arange(0, len(y), num_steps).tolist()+[len(y)]: 
    stop_i = min(start_i + num_steps, len(y))
    pd.DataFrame(y[start_i:stop_i]).to_csv('data/%i_fuzzscores.csv'%i, index=False)
    i += 1

---

## read results

In [9]:
import os

In [13]:
base_dir = 'data/'
file_l = [base_dir + f for f in os.listdir(base_dir)]
len(file_l)

4141

### test with a threshold

In [18]:
thres = 90

In [19]:
i = 0
fname = file_l[i]
fname

'data/0_fuzzscores.csv'

In [20]:
tmp_df = pd.read_csv(fname)
tmp_df.head(2)

        Affiliation1              Affiliation2  Ratio  Token_Sort_Ratio
0  McGill University         Xidian University     71                59
1  McGill University  Brunel University London     59                63

In [22]:
tmp_df.query('Ratio>@thres and Token_Sort_Ratio>@thres')

           Affiliation1       Affiliation2  Ratio  Token_Sort_Ratio
6088  McGill University  Magill University     94                94

to be continued